.button32 {
  height: 32px;
  padding: 10px 11px;
  border-radius: 8px;
  margin: auto;
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
}
.button32:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.6980392157);
}
.button32:active {
  color: black;
  background-color: rgba(255, 255, 255, 0.5019607843);
}
.button32:disabled {
  color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
}

.main {
  display: flex;
  overflow: hidden;
}

.content-area {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: hidden;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131417;
}
.content-area:hover {
  overflow-x: overlay;
}

.create-theme {
  width: 368px;
  min-height: 453px;
  background-color: #131417;
  margin: auto;
}
.create-theme__title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 40px;
  cursor: default;
}
.create-theme__body {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.create-theme__add-button {
  margin-top: 20px;
  width: 100%;
  height: 58px;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  padding: 19px 36px;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.2);
}

.sidebar {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 100vh;
  background-color: #131417;
  padding: 24px;
  border-right: 1px solid rgba(255, 255, 255, 0.1215686275);
}
.sidebar__top {
  flex-shrink: 0;
}
.sidebar__shop-info {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.sidebar__shop-logo {
  width: 32px;
  height: 32px;
  margin-right: 6px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.0784313725);
}
.sidebar__shop-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.6980392157);
}
.sidebar__theme-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 12px;
}
.sidebar__scroll {
  flex-grow: 1;
  overflow: hidden;
}
.sidebar__scroll:hover {
  overflow: overlay;
}
.sidebar__theme-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar__theme-button {
  width: 100%;
  height: 40px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5019607843);
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sidebar__theme-button:hover {
  background-color: rgba(255, 255, 255, 0.0509803922);
}
.sidebar__theme-button:active {
  background-color: rgba(255, 255, 255, 0.0784313725);
}
.sidebar__add-theme {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5019607843);
}
.sidebar__add-theme img {
  vertical-align: text-top;
  margin-right: 2px;
}
.sidebar__subscribe {
  flex-shrink: 0;
  width: 232px;
  height: 110px;
  padding: 16px 17px;
  margin-top: 14px;
  border-radius: 8px;
  background-color: #1f2023;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.sidebar__subscribe-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
}
.sidebar__subscribe-value {
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 12px;
}
.sidebar__subscribe-button {
  width: 100%;
  background-color: #fff;
}
.sidebar__bottom {
  flex-shrink: 0;
  padding: 20px 24px 16px;
  margin: 0 -24px;
  border-top: 1px solid rgba(255, 255, 255, 0.1215686275);
}
.sidebar__admin-code {
  display: block;
}
.sidebar__admin-code-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5019607843);
}
.sidebar__admin-code-value {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  margin: 12px 0 7px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.0784313725);
  padding: 5.5px 0;
  background-color: #1f2023;
}
.sidebar__admin-hint {
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}

.selected {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.0509803922);
  border-radius: 8px;
}/*# sourceMappingURL=admin.css.map */