@import '../../../style/variables'
@import '../../../style/mixins'
@import '../../../style/button'


// 변수 정의
.theme-info-modal
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  background-color: $color-sub1
  border-radius: 16px
  padding: 24px 32px
  width: 577px
  &__header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 12px

    h2
      @include title20SB


    .close-button
      position: absolute
      top: 24px
      right: 24px
      background: none
      border: none
      cursor: pointer

  &__content
    padding-top: 10px 
    .info-grid
      margin-top: 8px 
      display: grid
      grid-template-columns: 1fr 1fr
      gap: 10px
    .text
      padding-bottom: 10px 

  &__footer
    margin-top: 16px
    display: flex
    justify-content: space-between

    .delete-button
      width: 100px


    .action-buttons
      margin-left: auto
      display: flex
      gap: 10px

.delete
  z-index: 600
.put
  z-index: 100
    