.button32 {
  height: 32px;
  padding: 10px 11px;
  border-radius: 8px;
  margin: auto;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
}
.button32:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.6980392157);
}
.button32:active {
  color: black;
  background-color: rgba(255, 255, 255, 0.5019607843);
}
.button32:disabled {
  color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
}

.outline_button32 {
  height: 32px;
  padding: 10px 11px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: auto;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
}
.outline_button32:hover {
  background-color: rgba(255, 255, 255, 0.0509803922);
}
.outline_button32:active {
  background-color: rgba(255, 255, 255, 0.0784313725);
}
.outline_button32:disabled {
  color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1215686275);
}

.icon_button32 {
  height: 32px;
  padding: 8px 8px 8px 6px;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
}
.icon_button32 img {
  vertical-align: text-top;
  margin-right: 4px;
}
.icon_button32:hover {
  background-color: rgba(255, 255, 255, 0.0509803922);
}
.icon_button32:active {
  background-color: rgba(255, 255, 255, 0.0784313725);
}
.icon_button32:disabled {
  color: rgba(255, 255, 255, 0.2);
}

.create-theme {
  width: 368px;
  min-height: 453px;
  background-color: #131417;
  margin: auto;
}
.create-theme__title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 40px;
  cursor: default;
}
.create-theme__body {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.create-theme__add-button {
  margin-top: 20px;
  width: 100%;
  height: 58px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  padding: 19px 36px;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  color: black;
}
.create-theme__add-button.disable {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  cursor: not-allowed;
}