@import '../../style/variables'
@import '../../style/mixins'
@import '../../style/button'

.theme-infomation
  width: 100%
  height: 100%

  &__title
    height: fit-content
    padding: 22px 0
    @include title24M
    color: $color-white
    .theme-infomation-fit
      width: fit-content
      display: flex
      justify-content: left
      align-items: center
      gap: 4px
      cursor: pointer
      &:hover
        color: $color-white50
        .image
          background-image: url(/images/svg/icon_ArrowDownMini_hover.svg)
      &:active
        color: $color-white20
        .image
          background-image: url(/images/svg/icon_ArrowDownMini_active.svg)
      .title
        width: fit-content
      .image
        width: 24px
        height: 24px
        background-image: url(/images/svg/icon_ArrowDownMini_default.svg)
        background-repeat: no-repeat
        background-position: center
        background-size: cover


  &__body
    height: fit-content
    display: flex
    flex-direction: column
    gap: 12px

.theme-infomation-text
  @include body14M
  color: $color-white50
  cursor: default
.theme-infomation-container
  display: flex
  gap: 16px
.theme-infomation-box
  position: relative
  width: 50%
  height: 82px
  padding: 17px 24px 17px 20px
  border: 1px solid $color-white8
  box-sizing: border-box
  border-radius: 8px
  display: flex
  flex-direction: column
  gap: 4px
  cursor: pointer
  div
    cursor: pointer
  &:hover
    background-color: $color-white5
    .theme-infomation-modify-text
      color: $color-white
      display: block
  &:active
    background-color: $color-white8
    .theme-infomation-modify-text
      display: block
      color: $color-white

.theme-infomation-content-text
  @include title18M
  color: $color-white

.theme-infomation-modify-text
  display: none
  position: absolute
  right: 24px
  top: 31px
  @include body14M


.theme-hint
  width: 100%
  height: 100%
  &__container
    margin-top: 40px
    display: flex
    flex-direction: column
  &__title
    width: 100%
    height: 40px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 8px
    @include title16SB
    button
      width: 81px
      height: 100%
      padding: 10px 16px
      background-color: $color-white5
      border-radius: 8px
      color: white
      @include body14M
  &__table
    width: 100%
    min-height: 336px
    border: 1px solid $color-white12
    border-radius: 8px
    .table-header
      height: 36px
      display: flex
      gap: 4px
      padding: 8px 4px
      border-bottom: 1px solid $color-white12
      @include body14M
      color: $color-white50
    .table-code
      min-width: 84px
      padding: 0 4px 0 12px
    .table-rate
      min-width: 85px
      padding: 0 4px
    .table-hint
      width: 831px
      padding: 0 4px
    .table-answer
      min-width: 300px
      padding: 0 4px
    .table-content-box
      width: 100%
      height: 300px
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      .main-text
        @include title16M
        margin-bottom: 4px
      .sub-text
        @include body14R
        color: $color-white70
      button
        width: 81px
        height: 40px
        padding: 10px 16px
        margin-top: 16px
        background-color: white
        border-radius: 8px
        @include body14M