@import './variables'
@import './mixins'

.button32
  height: 32px
  padding: 10px 11px
  border-radius: 8px
  margin: auto 
  background-color: $color-white

  @include button12SB
  &:hover 
    color: $color-black
    background-color: $color-white70

  &:active 
    color: $color-black
    background-color: $color-white50

  &:disabled 
    color: $color-white20
    background-color: $color-white20

.outline_button32
  height: 32px
  padding: 10px 11px
  border-radius: 8px
  border: 1px solid  $color-white20
  margin: auto 
  color: $color-white

  @include button12SB
  &:hover 
    background-color: $color-white5

  &:active 
    background-color: $color-white8

  &:disabled 
    color: $color-white20
    border: 1px solid  $color-white12


.icon_button32
  height: 32px
  padding: 8px 8px 8px 6px  
  border-radius: 8px
  color: $color-white

  img
    vertical-align: text-top
    margin-right: 4px
  @include button12SB
  &:hover 
    background-color: $color-white5

  &:active 
    background-color: $color-white8

  &:disabled 
    color: $color-white20


.button40
  height: 40px
  padding: 8px 16px
  border-radius: 8px
  @include body14M
  background-color: $color-white
  color: $color-black
  &:hover 
    background-color: $color-white70
  &:active 
    background-color: $color-white50
  &:disabled 
    color: $color-white20
    background-color: $color-white20
    cursor: not-allowed
.secondary_button40
  height: 40px
  padding: 8px 16px
  border-radius: 8px
  @include body14M
  background-color: $color-white5
  color: $color-white
  &:hover 
    background-color: $color-white8
  &:active 
    background-color: $color-white8
  &:disabled 
    color: $color-white20
    background-color: $color-white5
    cursor: not-allowed

.button28
  height: 28px
  padding: 8px 12px
  border-radius: 6px
  @include button12M
  background-color: $color-white
  color: $color-black
  &:hover 
    background-color: $color-white70
  &:active 
    background-color: $color-white50
  &:disabled 
    color: $color-white20
    background-color: $color-white20
    cursor: not-allowed
.secondary_button28
  height: 28px
  padding: 8px 12px
  border-radius: 6px
  @include button12M
  background-color: $color-white5 
  color: $color-white
  &:hover 
    background-color: $color-white8
  &:active 
    background-color: $color-white12
  &:disabled 
    color: $color-white20
    background-color: $color-white5
    cursor: not-allowed
