@import './variables'
@import './mixins'

.button32
  height: 32px
  padding: 10px 11px
  border-radius: 8px
  margin: auto 
  @include button12SB
  &:hover 
    color: $color-black
    background-color: $color-white70

  &:active 
    color: $color-black
    background-color: $color-white50

  &:disabled 
    color: $color-white20
    background-color: $color-white20

// .button:disabled:hover,
// .button:disabled:active {
//   background-color: #d6d6d6;
//   transform: none; /* 변형 제거 */
// }